<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web | Project Group 5</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="~{web/header::header}">

</div>

<div class="small-container cart-page">
    <th:block th:if="${message}">
        <h4 style="color: #2fff00">[[${message}]]</h4>
    </th:block>
    <table class="cart-item">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
        <th:block th:each="p : ${listBill}">
            <tr>
                        <td>
                            <div class="cart-info">

                                <img th:src="@{'/api/uploadfile/upload/' + ${p.productId.thumbnailPhoto}}" alt="">
                                <div>
                                    <p>[[${p.productId.name}]]</p>
                                    <small>Price: $ [[${p.productId.price}]]</small> <br>
                                    <small>Rest: [[${p.productId.quantity - p.productId.amount}]]</small> <br>
                                </div>

                            </div></td>
                        <td><input type="number" min="1" th:max="${p.productId.quantity - p.productId.amount}" th:value="${p.quantity}"
                                   disabled></td>
                        <td>$ [[${p.productId.price*p.quantity}]]</td>
                        <td><div class="btn" th:onclick="'removeCartItem(\'' + ${p.productId.id} + '\');'">Remove</div>
                            <input type="hidden" th:id="'subtotal'+${p.productId.id}" th:value="${p.productId.price*p.quantity}">
                        </td>
            </tr>
        </th:block>
        </th:block>
        </th:block>
    </table>

    <div class="total-price">
        <table>

            <tr>
                <td>Total</td>
                <td>$ [[${total}]]</td>
            </tr>
        </table>
    </div>
    <th:block th:if="${total} > 0">
    <div class="btn-acpt">
        <a href="/payment" class="btn">Accept</a>
    </div>
    </th:block>

    <th:block th:if="${total} == 0">
        <div class="btn-acpt">
            <div class="btn" style="background-color: #2b3d51">Accept</div>
        </div>
    </th:block>
</div>
<div th:replace="~{web/footer::footer}">

</div>
<!-- -------- js for toggle menu -------- -->
<!-- -------- js for toggle menu -------- -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>

<script>
    function removeCartItem(productId) {
        let message = "Bạn có muốn xóa sản phẩm này không?";
        const subtotal = document.getElementById('subtotal' + productId).value;
        if (confirm(message) == true) {
            $.ajax({
                url: "/remove-cart/" + productId + "/" + subtotal,
                type: "get",
                success: function (response) {
                    window.location = "/cart"
                },
                error: function (xhr) {

                },
            });
        }
    }
</script>
<script>
    function calc()
    {
        var price = document.getElementById("ticket_price").innerHTML;
        var noTickets = document.getElementById("num").value;
        var total = parseFloat(price) * noTickets
        if (!isNaN(total))
            document.getElementById("total").innerHTML = total
    }
</script>

</body>
</html>