<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web | Project Group 5</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="~{web/header-login::header_login}">

</div>
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="images/image1.png" width="100%">
            </div>

            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Recover Password</span>
                        <hr id="Indicator" style="transform: translateX(0px);">
                    </div>

                    <form  id="LoginForm" action="/recover-password" method="post" style="transform: translateX(300px);">
                        <th:block th:if="${message1}">
                            <p style="color: red;" class="text-danger">[[${message1}]]</p>
                        </th:block>
                        <input type="text" name="username" placeholder="Username">
                        <input type="email" name="email" placeholder="Email">
                        <input type="password" name="newpassword" placeholder="New password">
                        <input type="password" name="confirmpassword" placeholder="Confirm password">
                        <button type="submit" class="btn">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{web/footer::footer}">

</div>
<!-- -------- js for toggle menu -------- -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>

<!-- -------- js for toggle form -------- -->


</body>
</html>