<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web | Project Group 5</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/userprofile.css}"/>

</head>
<body>
<div th:replace="~{web/header::header}"></div>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row" style="align-items: start!important">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <th:block th:if="${session.info.linkAVT == null}">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                </th:block>
                <th:block th:if="${session.info.linkAVT}">
                    <img class="rounded-circle mt-5" width="150px" th:src="@{'/api/uploadfile/upload/' + ${session.info.linkAVT}}">
                </th:block>
                <span class="font-weight-bold">[[${session.info.fullname}]]</span>
                <span class="text-black-50">[[${session.info.email}]]</span>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary profile-button" data-toggle="modal" data-target="#exampleModal">
                    Change avatar
                </button>

                <div class="d-flex justify-content-between align-items-center mb-3" style="color: red" th:if="${message3}">
                    <span class="text-right">[[${message3}]]</span>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/change-avt" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <h3>Tải ảnh avatar mới</h3>
                                <input type="file" name="avatar" onchange="readURL(this);"><br>
                                <th:block th:if="${session.info.linkAVT == null}">
                                    <img width="50%" height="50%" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" id="blah" alt="your avatar">
                                </th:block>
                                <th:block th:if="${session.info.linkAVT}">
                                    <img width="50%" height="50%" th:src="@{'/api/uploadfile/upload/' + ${session.info.linkAVT}}" id="blah" alt="your avatar">
                                </th:block>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

                <br><br>
                <div>
               <a href="/transaction-history" style="text-decoration: none"> <i class="bi bi-clock-history" style="margin-right: 2px"></i> Transaction history</a>
                </div>

                <div style="margin-top: 10px">
                <a href="/address" style="text-decoration: none"><i class="bi bi-card-list"  style="margin-right: 2px"></i> List Address</a>
                </div>
                <div>
                <a href="/card" style="text-decoration: none" ><i class="bi bi-card-list"  style="margin-right: 2px"></i> List Card</a>
                </div>
            </div>
        </div>

        <div class="col-md-5 border-right">
            <form action="/edit-profile" method="post">
            <div class="p-3 py-5">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-3" style="color: red" th:if="${message1}">
                    <span class="text-right">[[${message1}]]</span>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Full Name</label>
                        <input type="text" name="fullname" class="form-control" placeholder="Full Name" th:value="${session.info.fullname}">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Phone Number</label>
                        <input type="text" name="phone" class="form-control" placeholder="Phone number" th:value="${session.info.phone}">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" th:value="${session.info.email}">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username" th:value="${session.account.userName}">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Birthday</label>
                        <input type="date" name="birthday" class="form-control" placeholder="Birthday" th:value="${session.info.bithday}">
                    </div>
                     </div>
                <div class="mt-5 text-center" style="padding-top: 3px"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
            </form>
        </div>
        <div class="col-md-4">
            <form action="/change-password" method="post">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"> <h4 class="text-right">Change Password</h4></div><br>
                <div class="d-flex justify-content-between align-items-center mb-3" style="color: red" th:if="${message2}">
                    <span class="text-right">[[${message2}]]</span>
                </div><br>
                <div class="col-md-12">
                    <label class="labels">Old Password</label>
                    <input type="password" name="oldpassword" class="form-control" placeholder="Old password" value="">
                </div> <br>
                <div class="col-md-12">
                    <label class="labels">New Password</label>
                    <input type="password" name="newpassword" class="form-control" placeholder="New password" value="">
                </div><br>
                <div class="col-md-12">
                    <label class="labels">Confirm Password</label>
                    <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm password" value="">
                </div>
                <br>
                <br>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Save Password</button>
                </div>
            </div>
            </form>
        </div>
    </div>

</div>

<div th:replace="~{web/footer::footer}"></div>

<!-- -------- js for toggle menu -------- -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result).width(150).height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

</body>
</html>