<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="header">
    <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu waves-effect waves-light" id="mobile-collapse"
                   href="#!"> <i class="ti-menu"></i>
                </a>
                <a href="/admin/home"> <img class="img-fluid" th:src="@{/images/logo.png} " width="50%" height="50%" alt="Theme-Logo" />
                </a> <a class="mobile-options waves-effect waves-light"> <i
                    class="ti-more"></i>
            </a>
            </div>

            <div class="navbar-container container-fluid">
                <ul class="nav-left">
                    <li>
                        <div class="sidebar_toggle">
                            <a href="javascript:void(0)"><i class="ti-menu"></i></a>
                        </div>
                    </li>
                    <li><a href="#!" onclick="javascript:toggleFullScreen()"
                           class="waves-effect waves-light"> <i class="ti-fullscreen"></i>
                    </a></li>
                </ul>
                <ul class="nav-right">

                    <li class="user-profile header-notification"><a href="#!"
                                                                    class="waves-effect waves-light"> <img
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                            class="img-radius" alt="User-Profile-Image"> <span>[[${session.info.fullname}]]</span>
                        <i class="ti-angle-down"></i>
                    </a>
                        <ul class="show-notification profile-notification">
                            <li class="waves-effect waves-light"><a href="#!"> <i
                                    class="ti-settings"></i> Settings
                            </a></li>
                            <li class="waves-effect waves-light"><a
                                    href="/admin/profile?check=3"> <i class="ti-user"></i> Profile
                            </a></li>
                            <li class="waves-effect waves-light"><a
                                    href="/admin/logout"> <i
                                    class="ti-layout-sidebar-left"></i> Logout
                            </a></li>
                        </ul></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>